@charset "UTF-8";

h1 {
  text-align: center;
  background-color: lightgray;
  height: 300px;
  width: 300px;

  /* border-width: 5px;
  border-style: solid;
  border-color: darkslategray; */

  /* Simplifica para: */
  border: 5px solid darkslategray;

  padding: 15px 15px 15px 15px; /* Cima, direita, baixo, esquerda */
  /* padding: 20px 40px; Cima, Baixo com 20 px. direita, esquerda 40px*/

  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
