@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700;800;900&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
h1 {
  /* shorthand font 
        font-style -> font-weight -> font-size -> font-family

        font-family: 'Work Sans', sans serif;
        font-weight: bolder;
        font-size: 3em;
        font-style: italic;
        */
  font: italic bolder 3em "Work Sans", sans-serif;
}
h2 {
  font-family: "Times New Roman", Times, serif;
}
